<main>
  <div class="spinner" *ngIf="isLoading">
    <p-progressSpinner
      styleClass="w-4rem h-4rem"
      strokeWidth="8"
      fill="var(--surface-ground)"
      animationDuration=".4s"
    />
  </div>
  <section class="title-section" *ngIf="!isLoading">
    <div class="title-container">
      <p class="title">განათლების სექტორთან დაკავშირებული ინფორმაცია</p>
      <article *ngIf="details.key == 'SCHOOLS_SELF_EVALUATION'">
        <div class="icon-container" style="background-color: rgb(225, 94, 76)">
          <i class="pi pi-building"></i>
        </div>
        <h1>{{ titles.SCHOOLS_SELF_EVALUATION }}</h1>
      </article>

      <article *ngIf="details.key == 'GENERAL_EDUCATION_NATIONAL_GOALS'">
        <div class="icon-container" style="background-color: rgb(55, 134, 237)">
          <i class="pi pi-graduation-cap"></i>
        </div>
        <h1>{{ titles.GENERAL_EDUCATION_NATIONAL_GOALS }}</h1>
      </article>

      <article *ngIf="details.key == 'GEORGIAN_EDUCATION_SYSTEM'">
        <div class="icon-container" style="background-color: rgb(249, 193, 54)">
          <i class="pi pi-crown"></i>
        </div>
        <h1>{{ titles.GEORGIAN_EDUCATION_SYSTEM }}</h1>
      </article>

      <article *ngIf="details.key == 'NATIONAL_EDUCATIONAL_PLAN'">
        <div
          class="icon-container"
          style="background-color: rgb(108, 228, 120)"
        >
          <i class="pi pi-receipt"></i>
        </div>
        <h1>{{ titles.NATIONAL_EDUCATIONAL_PLAN }}</h1>
      </article>

      <article *ngIf="details.key == 'STUDENTS_RIGHTS_AND_GUARANTEES'">
        <div
          class="icon-container"
          style="background-color: rgb(127, 101, 208)"
        >
          <i class="pi pi-graduation-cap"></i>
        </div>
        <h1>{{ titles.STUDENTS_RIGHTS_AND_GUARANTEES }}</h1>
      </article>
      <p class="description-title">მოკლე აღწერა</p>
      <div
        class="description-container"
        [innerHTML]="details.description"
      ></div>
    </div>
  </section>
  <section class="link-section" *ngIf="details.links.length > 0">
    <ng-container *ngIf="!isLoading">
      <p>ბმულები</p>
      <article *ngFor="let link of details.links">
        <div class="link-container">
          <div class="link-icon">
            <i class="pi pi-link"></i>
          </div>
          <a href="{{ link }}" target="_blank">{{ link }}</a>
        </div>
      </article>
    </ng-container>
  </section>
  <section class="files-section" *ngIf="details.files.length > 0">
    <ng-container *ngIf="!isLoading">
      <p>თანდართული ფაილები</p>
      <article>
        <div class="file" *ngFor="let file of details.files">
          <aside class="left">
            <div class="left-cont">
              <i class="pi pi-file-pdf"></i>
              <span>{{ file.name }}</span>
            </div>
            <p>
              <span>ატვირთვის თარიღი</span>
              {{ file.createTs.slice(0, 10) }}
            </p>
          </aside>
          <aside class="right">
            <button class="download">
              <i class="pi pi-download"></i>
            </button>
            <button class="see">
              <i class="pi pi-arrow-up-right"></i>
            </button>
          </aside>
        </div>
      </article>
    </ng-container>
  </section>
</main>
