@import "./../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "./../node_modules/primeng/resources/primeng.css";
@import "./../node_modules/primeicons/primeicons.css";

.icon {
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}

body {
  margin: 0px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#eff2f4 0.1em, transparent 0.1em),
    linear-gradient(90deg, #eff2f4 0.1em, transparent 0.1em);
  background-size: 1.5em 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  .background-header {
    padding: 400px 0px !important;
    background: linear-gradient(
      180deg,
      #c6efdf 0%,
      #c6efdf 30.73%,
      rgba(198, 239, 223, 0.8) 54.69%,
      rgba(198, 239, 223, 0) 100%
    );
    .ellipse-positioning {
      left: 300px;
      top: -67px;
      .ellipse-icon {
        border-radius: 50%;
        opacity: 0.05;
        border: 30px solid #091826;
        img {
          width: 71px;
          height: 71px;
        }
      }
    }

    .ellipse-positioning-2 {
      left: 226px;
      top: 207px;
      .ellipse-icon {
        border-radius: 50%;
        opacity: 0.05;
        border: 10px solid #091826;
        height: 42px;
        img {
          width: 42px;
          height: 42px;
        }
      }
    }

    .rect-positioning {
      right: 10px;
      top: 20px;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .rect-positioning-2 {
      left: 8px;
      top: 20px;
      .rect-icon {
        margin: 12px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hidden {
    display: none !important;
  }
  body {
    padding-bottom: 88px !important;
  }
}
@media (max-width: 309px) {
  body {
    .background-header {
      padding: 100px 0px !important;
    }
  }
}
