@import "./../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "./../node_modules/primeng/resources/primeng.css";
@import "./../node_modules/primeicons/primeicons.css";
@import "ng-zorro-antd/ng-zorro-antd.min.css";

.icon {
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}

body {
  margin: 0px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#eff2f4 0.1em, transparent 0.1em),
    linear-gradient(90deg, #eff2f4 0.1em, transparent 0.1em);
  background-size: 1.5em 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  .background-header {
    padding: 400px 0px !important;
    background: linear-gradient(
      180deg,
      #c6efdf 0%,
      #c6efdf 30.73%,
      rgba(198, 239, 223, 0.8) 54.69%,
      rgba(198, 239, 223, 0) 100%
    );
    .ellipse-positioning {
      left: 300px;
      top: -67px;
      .ellipse-icon {
        border-radius: 50%;
        opacity: 0.05;
        border: 30px solid #091826;
        img {
          width: 71px;
          height: 71px;
        }
      }
    }

    .ellipse-positioning-2 {
      left: 226px;
      top: 207px;
      .ellipse-icon {
        border-radius: 50%;
        opacity: 0.05;
        border: 10px solid #091826;
        height: 42px;
        img {
          width: 42px;
          height: 42px;
        }
      }
    }

    .rect-positioning {
      right: 10px;
      top: 20px;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .rect-positioning-2 {
      left: 8px;
      top: 20px;
      .rect-icon {
        margin: 12px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hidden {
    display: none !important;
  }
  body {
    padding-bottom: 88px !important;
  }
}
@media (max-width: 309px) {
  body {
    .background-header {
      padding: 100px 0px !important;
    }
  }
}

@media (max-width: 320px) {
  .ant-modal-body {
    padding: 10px;
  }
}

/////////////////////////////////////////////////
// sidebar
.p-sidebar {
  width: 45%;
  .p-sidebar-content {
    padding: 1rem !important; // Custom padding
    .sidebar-container {
      .sidebar-title {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 20px;
        i {
          font-size: 20px;
          color: black;
          font-weight: 600;
        }
        span {
          font-size: 16px;
          font-weight: 800;
        }
      }
      .description {
        box-sizing: border-box;
        line-height: 1.42;
        max-height: 300px;
        outline: none;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding: 12px 15px;
        text-align: justify;
        p {
          margin: 0;
        }
      }
      .files-section {
        margin-top: 24px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        p {
          letter-spacing: 0.96px !important;
          width: 100%;
          font-weight: 800;
          font-size: 12px;
          line-height: 16px;
          color: #5594cf;
        }
        article {
          display: flex;
          flex-wrap: wrap;
          gap: 12px;
          justify-content: center;
          .file {
            width: 100%;
            padding: 5px 10px;
            background: #ffffff;
            display: flex;
            justify-content: space-between;
            border: 1px solid #eaeaea;
            border-radius: 12px;
            .left {
              display: flex;
              flex-direction: column;
              gap: 16px;
              .left-cont {
                display: flex;
                align-items: center;
                gap: 0.75rem;
                i {
                  color: #f24237;
                  font-size: 28px;
                }
                span {
                  font-family: regular;
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 21px;
                  color: #091826;
                  letter-spacing: -0.02em;
                }
              }
            }
            .right {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              .download {
                width: 38px;
                height: 27px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                background-color: #6e55bf33;
                cursor: pointer !important;
              }
              .see {
                width: 38px;
                height: 27px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                background-color: #09182633;
                cursor: pointer !important;
              }
            }
          }
        }
      }
    }
  }

  .p-sidebar-header {
    border-bottom: 1px solid #c4c4c4 !important;
    padding: 10px;
  }
}

@media screen and (max-width: 750px) {
  .p-sidebar {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .p-sidebar {
    width: 100%;
    .p-sidebar-content {
      padding: 5px !important;
      .files-section {
        padding: 0px;
        .file {
          .left {
            gap: 10px !important;
            .left-cont {
              span {
                font-size: 10px !important;
                line-height: 14px !important;
                max-height: 28px;
                overflow: hidden;
              }
            }
            p {
              font-size: 10px !important;
              margin: 0px !important;
            }
          }
          .right {
            gap: 4px !important;
            button {
              width: 30px !important;
              height: 30px !important;
              i {
                font-size: 15px !important;
              }
            }
          }
        }
      }
    }
  }
}

.sidebar-container {
  .files-section {
    .file {
      .left {
        .left-cont {
          span {
          }
        }
      }
    }
  }
}
