<main>
  <section class="main-page-with-filter">
    <div class="main-first-page">
      <h1 class="title">
        <span>მოძებნე სკოლა</span>
        საქართველოს მასშტაბით
      </h1>


      <app-filter></app-filter>

      <div class="school-count-container">
        <div class="schools-all schools">
          <div class="text-container">
            <p class="text">სკოლების რაოდენობა</p>
            <p class="quantity">{{ data.schoolCount }}</p>
          </div>
          <div class="school-count-icon">
            <div class="icon-container">
              <i class="pi pi-map"></i>
            </div>
          </div>
          <div class="hidden" style="color: #fff">
            <p>
              <i class="pi pi-map"></i>
              სულ
            </p>
            <span>{{ data.schoolCount }}</span>
          </div>
        </div>

        <div class="schools-private schools">
          <div class="text-container">
            <p class="text">კერძო სკოლა</p>
            <p class="quantity">{{ data.privateSchoolCount }}</p>
          </div>
          <div class="school-count-icon">
            <div class="icon-container">
              <i class="pi pi-database"></i>
            </div>
          </div>
          <div class="hidden">
            <p>
              <i class="pi pi-database"></i>
              კერძო
            </p>
            <span>{{ data.privateSchoolCount }}</span>
          </div>
        </div>

        <div class="schools-public schools">
          <div class="text-container">
            <p class="text">საჯარო სკოლა</p>
            <p class="quantity">{{ data.publicSchoolCount }}</p>
          </div>
          <div class="school-count-icon">
            <div class="icon-container">
              <i class="pi pi-database"></i>
            </div>
          </div>
          <div class="hidden">
            <p>
              <i class="pi pi-database"></i>
              საჯარო
            </p>
            <span>{{ data.publicSchoolCount }}</span>
          </div>
        </div>
      </div>
    </div>

    <app-education-information></app-education-information>
    <app-map></app-map>
  </section>
</main>
