<section class="schools">
    <h1 class="title">
      <span>მოძებნე სკოლა</span>
      საქართველოს მასშტაბით
    </h1>
  
    <form class="filter" [formGroup]="form" (ngSubmit)="loadSelectedValues()">
      <div class="filter-title">
        <p>დეტალური ძებნა</p>
        <span
          >სკოლის მოძებნა შესაძლებელია საძიებო ველისა და რუკის დახმარებით</span
        >
      </div>
      <div class="filters-wrapper">
        <div class="filter-item region">
            
        </div>

      </div>
      <div class="bottom-filter">
        <div class="school-type-container">
          <div class="public-type">
            <div
              class="checkbox"
              (click)="resultService.toggleOnlyPublicButton()"
              [ngClass]="{ showOnlyPublicActive: resultService.showOnlyPublic }"
            >
              <i class="pi pi-check"></i>
            </div>
            <span>მხოლოდ საჯარო სკოლები</span>
          </div>
          <div class="private-type">
            <div
              class="checkbox"
              (click)="resultService.toggleOnlyPrivateButton()"
              [ngClass]="{ showOnlyPrivateActive: resultService.showOnlyPrivate }"
            >
              <i class="pi pi-check"></i>
            </div>
            <span>მხოლოდ კერძო სკოლები</span>
          </div>
        </div>
        <div class="clear-search">
          <button class="clear">გასუფთავება</button>
          <button class="search">
            <i class="pi pi-search"></i>
            <span>ძებნა</span>
          </button>
        </div>
      </div>
    </form>
  </section>
  