<header>
  <div class="logo">
    <a routerLink="/home">
      <img src="../../../assets/images/logo.png" alt="Logo" />
    </a>
  </div>
  <nav class="content-right hidden">
    <ul>
      <li class="nav-container">
        <a routerLink="/home" routerLinkActive="active" class="page-link">
          <i class="pi pi-warehouse"></i>
          <span>მთავარი</span>
        </a>
      </li>
      <li class="nav-container">
        <a
          routerLink="/general-education"
          routerLinkActive="active"
          class="page-link"
        >
          <i class="pi pi-graduation-cap"></i>
          <span>ზოგადი განათლება</span>
        </a>
      </li>
      <li class="nav-container">
        <a routerLink="/schools" routerLinkActive="active" class="page-link">
          <i class="pi pi-building"></i>
          <span>სკოლები</span>
        </a>
      </li>
      <li class="nav-container" style="border: none">
        <a
          routerLink="/legislation"
          routerLinkActive="active"
          class="page-link"
        >
          <i class="pi pi-briefcase"></i>
          <span>კანონმდებლობა</span>
        </a>
      </li>
    </ul>
  </nav>
</header>

<div class="nav-mobile">
  <nav class="content-bottom">
    <ul>
      <li class="nav-container">
        <a class="page-link" routerLink="/home" routerLinkActive="active">
          <i class="pi pi-warehouse"></i>
        </a>
      </li>
      <li class="nav-container">
        <a
          class="page-link"
          routerLink="/general-education"
          routerLinkActive="active"
        >
          <i class="pi pi-graduation-cap"></i>
        </a>
      </li>
      <li class="nav-container">
        <a class="page-link" routerLink="/schools" routerLinkActive="active">
          <i class="pi pi-building"></i>
        </a>
      </li>
      <li class="nav-container">
        <a
          class="page-link"
          routerLink="/legislation"
          routerLinkActive="active"
        >
          <i class="pi pi-briefcase"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
