<div class="background">
  <div class="background-header">
    <div class="icon ellipse-positioning hidden">
      <div class="ellipse-icon">
        <img src="../../../assets/icons/ellipse-1.svg" />
      </div>
    </div>

    <div class="icon ellipse-positioning-2 hidden">
      <div class="ellipse-icon">
        <img src="../../../assets/icons/ellipse-2.svg" />
      </div>
    </div>

    <div class="icon rect-positioning hidden">
      <img src="../../../assets/icons/rectangle_1.svg" />
    </div>

    <div class="icon rect-positioning-2 hidden">
      <div class="rect-icon">
        <img src="../../../assets/icons/rectangle-2.svg" />
      </div>
    </div>
  </div>
</div>
