<section class="education-information">
  <div class="education-title-container">
    <h1>
      განათლების სექტორთან
      <p>დაკავშირებული ინფორმაცია</p>
    </h1>
  </div>
  <div class="spinner" *ngIf="isLoading">
    <p-progressSpinner
      styleClass="w-4rem h-4rem"
      strokeWidth="8"
      fill="var(--surface-ground)"
      animationDuration=".4s"
    />
  </div>
  <div class="education-main-container" *ngIf="!isLoading">
    <div class="single-card">
      <div class="card-top">
        <div class="card-icon" style="background-color: rgb(55, 134, 237)">
          <i class="pi pi-graduation-cap"></i>
        </div>
        <div class="title">
          <h2>{{ titles.GENERAL_EDUCATION_NATIONAL_GOALS }}</h2>
          <span>{{ titles.BOLD?.GENERAL_EDUCATION_NATIONAL_GOALS }}</span>
        </div>
      </div>
      <div class="card-middle">
        <p>
          {{ GENERAL_EDUCATION_NATIONAL_GOALS?.innerText }}
        </p>
      </div>
      <div class="card-bottom">
        <button>
          <i class="pi pi-arrow-up-right"></i>
        </button>
      </div>
    </div>
    <div class="single-card">
      <div class="card-top">
        <div class="card-icon" style="background-color: rgb(108, 228, 120)">
          <i class="pi pi-receipt"></i>
        </div>
        <div class="title">
          <h2>{{ titles.NATIONAL_EDUCATIONAL_PLAN }}</h2>
          <span>{{ titles.BOLD?.NATIONAL_EDUCATIONAL_PLAN }}</span>
        </div>
      </div>
      <div class="card-middle">
        <p>
          {{ NATIONAL_EDUCATIONAL_PLAN?.innerText }}
        </p>
      </div>
      <div class="card-bottom">
        <button>
          <i class="pi pi-arrow-up-right"></i>
        </button>
      </div>
    </div>
    <div class="single-card">
      <div class="card-top">
        <div class="card-icon" style="background-color: rgb(225, 94, 76)">
          <i class="pi pi-building"></i>
        </div>
        <div class="title">
          <h2>{{ titles.SCHOOLS_SELF_EVALUATION }}</h2>
          <span>{{ titles.BOLD?.SCHOOLS_SELF_EVALUATION }}</span>
        </div>
      </div>
      <div class="card-middle">
        <p>
          {{ SCHOOLS_SELF_EVALUATION?.innerText }}
        </p>
      </div>
      <div class="card-bottom">
        <button>
          <i class="pi pi-arrow-up-right"></i>
        </button>
      </div>
    </div>
    <div class="single-card">
      <div class="card-top">
        <div class="card-icon" style="background-color: rgb(249, 193, 54)">
          <i class="pi pi-crown"></i>
        </div>
        <div class="title">
          <h2>{{ titles.GEORGIAN_EDUCATION_SYSTEM }}</h2>
          <span>{{ titles.BOLD?.GEORGIAN_EDUCATION_SYSTEM }}</span>
        </div>
      </div>
      <div class="card-middle">
        <p>
          {{ GEORGIAN_EDUCATION_SYSTEM?.innerText }}
        </p>
      </div>
      <div class="card-bottom">
        <button>
          <i class="pi pi-arrow-up-right"></i>
        </button>
      </div>
    </div>
    <div class="single-card">
      <div class="card-top">
        <div class="card-icon" style="background-color: rgb(127, 101, 208)">
          <i class="pi pi-graduation-cap"></i>
        </div>
        <div class="title">
          <h2>{{ titles.STUDENTS_RIGHTS_AND_GUARANTEES }}</h2>
          <span>{{ titles.BOLD?.STUDENTS_RIGHTS_AND_GUARANTEES }}</span>
        </div>
      </div>
      <div class="card-middle">
        <p>
          {{ STUDENTS_RIGHTS_AND_GUARANTEES?.innerText }}
        </p>
      </div>
      <div class="card-bottom">
        <button>
          <i class="pi pi-arrow-up-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>
